<template>
    <base-card class="shadow-lg pb-4"> 
        <h2 class="text-3xl font-bold tracking-tight text-gray-900 sm:text-2xl ">Filter By Genre</h2>
        <span v-for="genre in genres" :key="genre.id" class="filter-option">
            <input class="h-4 w-4 rounded border-gray-300 text-indigo-600 focus:ring-indigo-600" type="checkbox" :id="genre.name" checked @change="setFilter" />
            <label :for="genre.name">{{ genre.name }}</label>
        </span>
    </base-card>
</template>

<script>
export default {
    emits: ['change-filter'],
    props: ['genres'],
    data() {
        var filters = [];
        for (let i = 0; i < this.genres.length; i++) {
            filters.push({id: this.genres[i].id, name: this.genres[i].name, selected: true});
        }
        return {
            filters
        };
    },
    methods: {
        setFilter(event) {
            const inputId = event.target.id;
            const isActive = event.target.checked;
            const updatedFilters = this.filters;
            for (let i = 0; i < updatedFilters.length; i++) {
                if (updatedFilters[i].name === inputId) {
                    updatedFilters[i].selected = isActive;
                }
            }
            this.filters = [...updatedFilters];
            this.$emit('change-filter', updatedFilters);
        }
    }
}
</script>

<style scoped>
h2 {
  margin: 0.5rem 0;
}

.filter-option {
  margin-right: 1rem;
}

.filter-option label,
.filter-option input {
  vertical-align: middle;
}

.filter-option label {
  margin-left: 0.25rem;
}

.filter-option.active label {
  font-weight: bold;
}

</style>





