<template>
  <div>
    <form class="max-w-lg mx-auto">
      <div class="flex">
        <label
          for="search-dropdown"
          class="mb-2 text-sm font-medium text-gray-900 sr-only dark:text-white"
          >Your Email</label
        >
        <div class="relative inline-block text-left mr-2">
          <div>
            <button
              @click="dropdown"
              type="button"
              class="inline-flex w-full py-3 mr-2 justify-center gap-x-1.5 rounded-md bg-white px-3 py-2 text-sm font-semibold text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 hover:bg-gray-50"
              id="menu-button"
              aria-expanded="true"
              aria-haspopup="true"
            >
              {{ search }}
              <svg
                class="-mr-1 h-5 w-5 text-gray-400"
                viewBox="0 0 20 20"
                fill="currentColor"
                aria-hidden="true"
              >
                <path
                  fill-rule="evenodd"
                  d="M5.23 7.21a.75.75 0 011.06.02L10 11.168l3.71-3.938a.75.75 0 111.08 1.04l-4.25 4.5a.75.75 0 01-1.08 0l-4.25-4.5a.75.75 0 01.02-1.06z"
                  clip-rule="evenodd"
                />
              </svg>
            </button>
          </div>

          <!--
    Dropdown menu, show/hide based on menu state.

    Entering: "transition ease-out duration-100"
      From: "transform opacity-0 scale-95"
      To: "transform opacity-100 scale-100"
    Leaving: "transition ease-in duration-75"
      From: "transform opacity-100 scale-100"
      To: "transform opacity-0 scale-95"
  -->
          <div
            v-if="showDropdown"
            class="absolute right-0 z-10 mt-2 w-56 origin-top-right rounded-md bg-white shadow-lg ring-1 ring-black ring-opacity-5 focus:outline-none"
            role="menu"
            aria-orientation="vertical"
            aria-labelledby="menu-button"
            tabindex="-1"
          >
            <div class="py-1" role="none">
              <!-- Active: "bg-gray-100 text-gray-900", Not Active: "text-gray-700" -->
              <a
                @click="
                  () => {
                    search = 'Movies';
                    showDropdown = false;
                  }
                "
                href="#"
                class="text-gray-700 block px-4 py-2 text-sm"
                role="menuitem"
                tabindex="-1"
                id="menu-item-0"
                >Movies</a
              >
              <a
                @click="
                  () => {
                    search = 'Series';
                    showDropdown = false;
                  }
                "
                href="#"
                class="text-gray-700 block px-4 py-2 text-sm"
                role="menuitem"
                tabindex="-1"
                id="menu-item-1"
                >Series</a
              >
              <a
                @click="
                  () => {
                    search = 'Actors';
                    showDropdown = false;
                  }
                "
                href="#"
                class="text-gray-700 block px-4 py-2 text-sm"
                role="menuitem"
                tabindex="-1"
                id="menu-item-2"
                >Actors</a
              >
              <a
                @click="
                  () => {
                    search = 'Directors';
                    showDropdown = false;
                  }
                "
                href="#"
                class="text-gray-700 block px-4 py-2 text-sm"
                role="menuitem"
                tabindex="-1"
                id="menu-item-3"
                >Directors</a
              >
            </div>
          </div>
        </div>
        <div class="relative w-full rounded-md">
          <input
            type="search"
            id="search-dropdown"
            class="block p-2.5 w-full h-full z-20 text-sm rounded-md text-gray-900 bg-gray-50 rounded-e-lg border-s-gray-50 border-s-2 border border-gray-300 focus:ring-blue-500 focus:border-blue-500 dark:bg-gray-700 dark:border-s-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:border-blue-500"
            placeholder="Type here"
            required
            autocomplete="off"
            v-model="enteredSearch"
            @input="filterSearch"
          />
          <button
            type="button"
            class="absolute top-0 end-0 p-2.5 text-sm font-medium h-full text-white bg-gray-600 rounded-e-lg hover:bg-gray-800 focus:ring-4 focus:outline-none focus:ring-blue-300 dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800"
          >
            <svg
              class="w-4 h-4"
              aria-hidden="true"
              xmlns="http://www.w3.org/2000/svg"
              fill="none"
              viewBox="0 0 20 20"
            >
              <path
                stroke="currentColor"
                stroke-linecap="round"
                stroke-linejoin="round"
                stroke-width="2"
                d="m19 19-4-4m0-7A7 7 0 1 1 1 8a7 7 0 0 1 14 0Z"
              />
            </svg>
            <span class="sr-only">Search</span>
          </button>
        </div>
      </div>
    </form>

    <!-- v-for -->
    <div v-if="enteredSearch.length > 0">
        <div class="absolute  z-10 mt-2 ml-28 origin-top-right rounded-md bg-white shadow-lg ring-1 ring-black ring-opacity-5 focus:outline-none" v-if="search=='Movies' || search=='Series'">
            <div class="text-gray-700 block px-4 py-2 text-sm hover:text-blue-300 cursor-pointer" v-for="item in searchResult" :key="item.id">
                <div @click="itemClicked(item.id)">
                <!-- <router-link :to="'/watchlist/'+ item.id +''"> -->
                    <h1>{{ item.title }}</h1>
                <!-- </router-link> -->
                </div>
            </div>
        </div>
        <div v-else class="absolute  z-10 mt-2 ml-28 origin-top-right rounded-md bg-white shadow-lg ring-1 ring-black ring-opacity-5 focus:outline-none">
            <div class="text-gray-700 block px-4 py-2 text-sm hover:text-blue-300 cursor-pointer" v-for="item in searchResult" :key="item.id">
                <router-link :to="'/celebs/'+ item.id +''">
                    <h1>{{ item.name }}</h1>
                </router-link>
            </div>
        </div>
    </div>
  </div>
</template>

<script>
import axiosInstance from "@/api/httpClient";

export default {
  data() {
    return {
      showDropdown: false,
      search: "Movies",
      searchResult: [],
      enteredSearch: "",
    };
  },
  methods: {
    itemClicked(itemID){
        this.$router.push(`/watchlist/${itemID}/`);
        setTimeout(() => {
            this.enteredSearch = '';
            location.reload();
        }, 500);
    },
    dropdown() {
      this.showDropdown = !this.showDropdown;
    },
    async filterSearch() {
      if (this.search === "Movies") {
        try {
          const response = await axiosInstance.get(
            `/watchlist/movies/search/?search=${this.enteredSearch}`
          );
          this.searchResult = response.data.slice(0,5);
        } catch (error) {
          console.log("error searching movies: " + error);
        }
      } else if (this.search === "Series") {
        try {
          const response = await axiosInstance.get(
            `/watchlist/series/search/?search=${this.enteredSearch}`
          );
          this.searchResult = response.data.slice(0,5);
        } catch (error) {
          console.log("error searching series: " + error);
        }
      } else if (this.search === "Actors") {
        try {
          const response = await axiosInstance.get(
            `/personnel/actors-directors/?role=Actor&name=${this.enteredSearch}`
          );
          this.searchResult = response.data.slice(0,5);
        } catch (error) {
          console.log("error searching actors: " + error);
        }
      } else if (this.search === "Directors") {
        try {
          const response = await axiosInstance.get(
            `/personnel/actors-directors/?role=Director&name=${this.enteredSearch}`
          );
          this.searchResult = response.data.slice(0,5);
        } catch (error) {
          console.log("error searching directors: " + error);
        }
      }
    },
  },
};
</script>
