<template>
    <form class="mx-auto my-20 max-w-3xl px-6 lg:px-8" @submit.prevent="submitForm">
        <div class="space-y-12">
            <div class="border-y border-gray-900/10 pb-12">
                <div class="form-control" :class="{invalid: !watchlist_type.isValid}">
                    <!-- <label for="watchlist_type">Type</label> -->
                    <!-- <select name="watchlist_type" id="watchlist_type" v-model="watchlist_type.val" @blur="clearValidity('watchlist_type')" > -->
                    <label for="watchlist_type" class="block text-base font-medium leading-6 text-gray-900">Type</label>
                    <select name="watchlist_type" id="watchlist_type" v-model="watchlist_type.val" @blur="clearValidity('watchlist_type')" class="w-full rounded-md border-0 bg-white py-1 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 focus:ring-2 focus:ring-inset focus:ring-gray-600 sm:text-sm sm:leading-6" role="watclist_type" aria-controls="options" aria-expanded="false">
                        <option value="movie">Movie</option>
                        <option value="series">Series</option>
                    </select>
                    <p v-if="!watchlist_type.isValid">This field must be selected</p>
                </div>
                
                <div class="form-control" :class="{invalid: !title.isValid}">
                    <label for="title">Title</label>
                    <input class="w-full rounded-md border-0 shadow-sm" role="watclist_type" aria-controls="options" aria-expanded="false" type="text" id="title" v-model.trim="title.val" @blur="clearValidity('title')" />
                    <p v-if="!title.isValid">Title must not be empty</p>
                </div>
                <div class="form-control">
                    <label for="description">Description</label>
                    <textarea class="w-full rounded-md border-0 shadow-sm" id="description" rows="5" v-model="description.val"></textarea>
                </div>
                <div class="form-control" :class="{invalid: !year.isValid}">
                    <label for="year">Release Date</label>
                    <input class="w-full rounded-md border-0 shadow-sm" type="date" id="year" v-cloak required pattern="\d{4}-\d{2}-\d{2}"  v-model="year.val" @blur="clearValidity('year')" />
                    <p v-if="!year.isValid">Year must not be empty</p>
                </div>
                <!-- <div class="form-control">
                    <label for="image">Image</label>
                    <input type="file" accept="image/*" id="image" @change="uploadImage($event)" />
                    
                </div> -->
                <div class="col-span-full">
                <!-- <label for="cover-photo" class="block text-sm font-medium leading-6 text-gray-900">Cover photo</label> -->
                <h3>Cover photo</h3>
                <div class="mt-2 flex justify-center rounded-lg border border-dashed border-gray-900/25 px-6 py-10">
                    <div class="text-center">
                    <svg class="mx-auto h-12 w-12 text-gray-300" viewBox="0 0 24 24" fill="currentColor" aria-hidden="true">
                        <path fill-rule="evenodd" d="M1.5 6a2.25 2.25 0 012.25-2.25h16.5A2.25 2.25 0 0122.5 6v12a2.25 2.25 0 01-2.25 2.25H3.75A2.25 2.25 0 011.5 18V6zM3 16.06V18c0 .414.336.75.75.75h16.5A.75.75 0 0021 18v-1.94l-2.69-2.689a1.5 1.5 0 00-2.12 0l-.88.879.97.97a.75.75 0 11-1.06 1.06l-5.16-5.159a1.5 1.5 0 00-2.12 0L3 16.061zm10.125-7.81a1.125 1.125 0 112.25 0 1.125 1.125 0 01-2.25 0z" clip-rule="evenodd" />
                    </svg>
                    <div class="mt-4 flex text-sm leading-6 text-gray-600">
                        <label for="image" class="relative cursor-pointer rounded-md bg-white font-semibold text-indigo-600 focus-within:outline-none focus-within:ring-2 focus-within:ring-indigo-600 focus-within:ring-offset-2 hover:text-indigo-500">
                        <span>Upload a file</span>
                        <input type="file" accept="image/*" id="image" @change="uploadImage($event)" class="sr-only">
                        </label>
                        <p class="pl-1">or drag and drop</p>
                    </div>
                    <p class="text-xs leading-5 text-gray-600">PNG, JPG, GIF up to 10MB</p>
                    </div>
                </div>
                </div>

                <div class="form-control">
                    <h3>Genres</h3>
                    <!-- <div v-for="genre in all_genres" :key="genre.id">
                        <input type="checkbox" :id="genre.id" :value="genre.id" v-model="selected_genres.val" />
                        <label :for="genre.id">{{ genre.name }}</label>
                    </div> -->
                    <select multiple class="w-full rounded-md border-0 bg-white text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 focus:ring-2 focus:ring-inset focus:ring-gray-600 sm:text-sm sm:leading-6" role="genre" aria-controls="options" aria-expanded="false" id="genre" name="genre" v-model="selected_genres.val" @blur="clearValidity('selected_genres')" >
                        <option v-for="genre in all_genres" :key="genre.id" :value="genre.id">
                            {{ genre.name }}
                        </option>
                    </select>
                </div>

                <div class="form-control" :class="{invalid: !selected_director.isValid}">
                    <label for="director">Director</label>
                    <select class="w-full rounded-md border-0 bg-white py-1 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 focus:ring-2 focus:ring-inset focus:ring-gray-600 sm:text-sm sm:leading-6" role="watclist_type" aria-controls="options" aria-expanded="false" id="director" name="director" v-model="selected_director.val" @blur="clearValidity('selected_director')" >
                        <option v-for="director in all_directors" :key="director.id" :value="director.id">
                            {{ director.name }}
                        </option>
                    </select>
                    <p v-if="!selected_director.isValid">This field must be selected</p>
                </div>

                <div class="form-control">
                    <h3>Actors</h3>
                    <!-- <div v-for="actor in all_actors" :key="actor.id" class="filter-option">
                        <input type="checkbox" :id="actor.name" :value="actor.id" v-model="selected_actors.val" />
                        <label :for="actor.name">{{ actor.name }}</label>
                    </div>
                    <div v-for="actor in all_actresses" :key="actor.id" class="filter-option">
                        <input type="checkbox" :id="actor.name" :value="actor.id" v-model="selected_actors.val" />
                        <label :for="actor.name">{{ actor.name }}</label>
                    </div> -->
                    <select multiple class="w-full rounded-md border-0 bg-white text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 focus:ring-2 focus:ring-inset focus:ring-gray-600 sm:text-sm sm:leading-6" role="watclist_type" aria-controls="options" aria-expanded="false" id="actor" name="actor" v-model="selected_actors.val" @blur="clearValidity('selected_actors')" >
                        <option v-for="actor in all_actors" :key="actor.id" :value="actor.id">
                            {{ actor.name }}
                        </option>
                    </select>
                </div>

                <p v-if="!formIsValid">Please fix the above errors and try again.</p>

                <div class="w-full text-center">
                    <base-button class="bg-gray-900 mx-auto text-white hover:bg-gray-600 mt-8" >CREATE</base-button>
                </div>
            </div>
        </div>
    </form>
</template>


<script>
export default {
    emits: ['save-data'],
    props: ['all_genres', 'all_directors', 'all_actors', 'all_actresses'],
    data() {
        return {
            watchlist_type: {
                val: '',
                isValid: true    
            },
            title: {
                val: '',
                isValid: true    
            },
            description: {
                val: '',
                isValid: true    
            },
            year: {
                val: null,
                isValid: true    
            },
            image: {
                val: null,
                isValid: true    
            },
            selected_genres: {
                val: [],
                isValid: true    
            },
            selected_director: {
                val: '',
                isValid: true    
            },
            selected_actors: {
                val: [],
                isValid: true    
            },
            formIsValid: true
        };
    },
    methods: {
        uploadImage(event) {
            let data = new FormData();
            data.append('name', 'my_picture');
            data.append('image', event.target.files[0]);
            this.image.val = data;
        },
        clearValidity(input) {
            this[input].isValid = true;
        },
        validateForm(){
            this.formIsValid = true;

            if(this.watchlist_type.val === '') {
                this.watchlist_type.isValid = false;
                this.formIsValid = false;
            }
            if(this.title.val === '') {
                this.title.isValid = false;
                this.formIsValid = false;
            }
            if(!this.year.val) {
                this.year.isValid = false;
                this.formIsValid = false;
            }
            if(this.selected_director.val === '') {
                this.selected_director.isValid = false;
                this.formIsValid = false;
            }
        },
        submitForm() {
            this.validateForm();

            if(!this.formIsValid){
                return;
            }

            const formData = {
                watchlist_type: this.watchlist_type.val,
                title: this.title.val,
                desc: this.description.val,
                year: this.year.val,
                image: this.image.val,
                genres: this.selected_genres.val,
                director: this.selected_director.val,
                actors: this.selected_actors.val,
            }
            
            this.$emit('save-data', formData);
        }
    }
}
</script>



<style scoped>


.form-control {
  margin: 1rem 0;
}

label, h3 {
  font-weight: bold;
  display: block;
  margin-bottom: 0.5rem;
}

input[type='checkbox'] + label {
  font-weight: normal;
  display: inline;
  margin: 0 0 0 0.5rem;
}

input,
textarea {
  display: block;
  width: 100%;
  border: 1px solid #ccc;
  font: inherit;
}

input:focus,
textarea:focus {
  background-color: #f0e6fd;
  outline: none;
  border-color: #3d008d;
}

input[type='checkbox'] {
  display: inline;
  width: auto;
  border: none;
}

input[type='checkbox']:focus {
  outline: #3d008d solid 1px;
}

h3 {
  margin: 0.5rem 0;
  font-size: 1rem;
}

.invalid label {
  color: red;
}

.invalid input,
.invalid textarea {
  border: 1px solid red;
}

select {
    font-size: 1rem;
}
option {
    font-family: "Roboto", sans-serif;
    font-size: 1rem;
}
</style>

