<template>
  <router-link :to="'/watchlist/' + movie.id">
  <!-- + type + '/' -->
    <!-- <li>
      <h3>{{ movie.title }}</h3>
      <h4>Rating:{{ rating }}</h4>
      <img :src="movie.image" alt="slika" />
      <div class="actions" v-if="!isAdmin && isLoggedIn">
        <base-button mode="outline">Add to favorites</base-button>
      </div>
    </li> -->
    <article class="flex flex-col items-start justify-between">
        <div class="relative w-full">
          <img :src="movie.image" alt="" class="aspect-[16/9] w-full rounded-2xl bg-gray-100 object-cover object-top sm:aspect-[2/1] lg:aspect-[3/3]">
          <div class="absolute inset-0 rounded-2xl ring-1 ring-inset ring-gray-900/10"></div>
        </div>
        <div class="max-w-xl">
          <div class="mt-8 flex items-center gap-x-4 text-xs">
            <time datetime="2020-03-16" class="text-gray-500">{{movie.date}}</time>
            <a v-for="genre in movie.genres" :key="genre.id" href="#" class="relative z-10 rounded-full bg-gray-50 px-3 py-1.5 font-medium text-gray-600">{{genre.name}}</a>
          </div>
          <div class="group relative">
            <h3 class="mt-3 text-lg font-semibold leading-6 text-gray-900 group-hover:text-gray-600">
              <a href="#">
                <span class="absolute inset-0"></span>
               {{movie.title}}
              </a>
            </h3>
            <p class="mt-5 line-clamp-3 text-sm leading-6 text-gray-600">Rating by the users:  <span class="text-yellow-500 text-2.7xl"> &#9733; </span> {{rating}}</p>
            <p class="mt-5 line-clamp-3 text-sm leading-6 text-gray-600">{{movie.description}}</p>
          </div>
          <div class="relative mt-8 flex items-center gap-x-4">
            <img :src="director.image" alt="" class="h-10 w-10 rounded-full bg-gray-100">
            <div class="text-sm leading-6">
              <p class="font-semibold text-gray-900">
                <a href="#">
                  <span class="absolute inset-0"></span>
                  {{director.name}}
                </a>
              </p>
              <p class="text-gray-600">Director</p>
            </div>
          </div>
        </div>
      </article>
  </router-link>
</template>

<script>
// import BaseButton from '../ui/BaseButton.vue';

export default {
  // components: { BaseButton },
  // props: ["id", "title", "reviews", "image", "type",],
  props: ["movie",],
  computed: {
    watchlistDetailsLink() {
      return "/watchlist/" + this.type + '/' + this.id;
    },
    rating() {
      if(this.movie.reviews.length === 0){
        return 'No ratings for this movie were found';
      }
      let sum = 0.0;
      this.movie.reviews.forEach(review => {
          sum += review.rating;
      });
      let result = sum / this.movie.reviews.length;
      return Math.round(result * 100) / 100;
    },
    director(){
      for(let person of this.movie.persons){
        if(person.role === 'Director'){
          return person;
        }
      } 
      return {"id":0, "name": 'No director'};
    },
    isAdmin() {
      return this.$store.getters.username == 'anjas';
    },
    isLoggedIn() {
      return this.$store.getters.isAuthenticated;
    },
  },
  
};
</script>
