<template>
  <router-link :to="'/watchlist/' + movie.id">
    <article class="flex flex-col items-start justify-between">
        <div class="relative w-full">
          <img :src="movie.image" alt="" class="aspect-[16/9] w-full rounded-2xl bg-gray-100 object-cover object-top sm:aspect-[2/1] lg:aspect-[3/3]">
          <div class="absolute inset-0 rounded-2xl ring-1 ring-inset ring-gray-900/10"></div>
        </div>
        <div class="max-w-xl">
          <div class="mt-8 flex items-center gap-x-4 text-xs">
            <time class="text-gray-500">{{movie.created.substring(0,4)}}</time>
            <a v-for="genre in movie.genres" :key="genre.id" href="#" class="relative z-10 rounded-full bg-gray-50 px-3 py-1.5 font-medium text-gray-600">{{genre.name}}</a>
          </div>
          <div class="group relative">
            <h3 class="mt-3 text-lg font-semibold leading-6 text-white group-hover:text-gray-600">
              <a href="#">
                <span class="absolute inset-0"></span>
               {{movie.title}}
              </a>
            </h3>
          </div>
        </div>
      </article>
  </router-link>
</template>


<script>


export default {

  props: ["movie",],

};
</script>
