<template>
<div class=" ">
  <div class="mx-auto max-w-7xl px-6 lg:px-8">
    <div class="mx-auto max-w-2xl text-center">
      <h2 class="text-3xl font-bold tracking-tight text-gray-900 sm:text-4xl">{{title}}</h2>
    </div>
    <div >
    
      <slot ></slot>
      <!-- More posts... -->
    </div>
  </div>
</div>
</template>

<script>
export default {
  props: ['title',],
}
</script>
