<template>
    <span class="badge" :class="type">
    <!-- <span class="inline-flex items-center rounded-md bg-gray-100 px-1.5 py-0.5 text-xs font-medium text-gray-600"> -->
    <!-- <span class="inline-flex items-center rounded-md bg-gray-400/10 px-2 py-1 text-xs font-medium text-gray-400 ring-1 ring-inset ring-gray-400/20"> -->
      {{ text }}
    </span>
</template>

<script>
export default {
  props:['type', 'title'],
  computed: {
    text() {
      return this.title;
      // .toUpperCase()
    }
  }
}
</script>


<style scoped>
.badge {
  background-color: #ccc;
  color: #252525;
  border-radius: 30px;
  padding: 0.5rem 1.5rem;
  margin-top: 0.5rem;
  display: inline-block;
  margin-right: 0.5rem;
}

.series {
  background-color: #71008d;
  color: white;
}

.movies {
  background-color: #8d006e;
  color: white;
}
</style>