<template>

<div v-if="isLoading">
  <base-spinner></base-spinner>
</div>

<div v-else>
  <section>
    <genre-filter :genres="allGenres" @change-filter="setFilters"></genre-filter>
  </section>

  <section class="py-24 shadow-lg">
    <base-card title="POPULAR MOVIES">
        <div class="mx-auto mt-16 grid max-w-2xl grid-cols-1 gap-x-8 gap-y-20 lg:mx-0 lg:max-w-none lg:grid-cols-5">
           <watchlist-item :movie="movie" v-for="movie in filteredPopularMovies" :key="movie.id"></watchlist-item>
        </div>
    </base-card>
  </section>
  <section class="py-24 shadow-lg">
    <base-card title="POPULAR SERIES">
        <div class="mx-auto mt-16 grid max-w-2xl grid-cols-1 gap-x-8 gap-y-20 lg:mx-0 lg:max-w-none lg:grid-cols-5">
           <watchlist-item :movie="movie" v-for="movie in filteredPopularSeries" :key="movie.id"></watchlist-item>
        </div>
    </base-card>
  </section>
  <hr><hr>
  <section class="py-24 shadow-lg">
    <base-card title="RECENT MOVIES">
        <div class="mx-auto mt-16 grid max-w-2xl grid-cols-1 gap-x-8 gap-y-20 lg:mx-0 lg:max-w-none lg:grid-cols-5">
           <watchlist-item :movie="movie" v-for="movie in filteredRecentMovies" :key="movie.id"></watchlist-item>
        </div>
    </base-card>
    </section>
    <section class="py-24 shadow-lg">
    <base-card title="RECENT SERIES">
        <div class="mx-auto mt-16 grid max-w-2xl grid-cols-1 gap-x-8 gap-y-20 lg:mx-0 lg:max-w-none lg:grid-cols-5">
           <watchlist-item :movie="movie" v-for="movie in filteredRecentSeries" :key="movie.id"></watchlist-item>
        </div>
    </base-card>
    </section>
</div>


</template>

<script>
import GenreFilter from '../../components/watchlist/GenreFilter.vue';
import WatchlistItem from "../../components/watchlist/WatchlistItem.vue";

export default {
  components: { WatchlistItem, GenreFilter, },
  data() {
    var allGenres = this.$store.getters["watchlist/all_genres"];
    var active_filters = [];
    for (let i = 0; i < allGenres.length; i++) {
      active_filters.push({id: allGenres[i].id, name: allGenres[i].name, selected: true});
    }
    return {
      active_filters,
      isLoading: false,
      error: null,
      username: localStorage.getItem('username'),
    };
  },
  computed: {
    isLoggedIn() {
      return this.$store.getters.isAuthenticated;
    },
    allWatchlist() {
      return this.$store.getters["watchlist/all_watchlist"];
    },
    allMovies() {
      return this.$store.getters["watchlist/all_movies"];
    },
    allSeries() {
      return this.$store.getters["watchlist/all_series"];
    },
    allGenres() {
      return this.$store.getters["watchlist/all_genres"];
    },

    filteredPopularMovies() {
      const all_watchlist = this.$store.getters["watchlist/popular_movies"];
      // const all_watchlist = this.popularMovies;
      return all_watchlist.filter(watchlist => {
        const selected_filters = this.active_filters.filter(active_filter => active_filter.selected).map(active_filter => active_filter.name);

        for(let genre of watchlist.genres){
          if(selected_filters.includes(genre.name)){
            return true;
          }
        }
        return false;
      })
    },
    filteredPopularSeries() {
      const all_watchlist = this.$store.getters["watchlist/popular_series"];
      return all_watchlist.filter(watchlist => {
        const selected_filters = this.active_filters.filter(active_filter => active_filter.selected).map(active_filter => active_filter.name);

        for(let genre of watchlist.genres){
          if(selected_filters.includes(genre.name)){
            return true;
          }
        }
        return false;
      })
    },
    filteredRecentMovies() {
      const all_watchlist = this.$store.getters["watchlist/recent_movies"];
      return all_watchlist.filter(watchlist => {
        const selected_filters = this.active_filters.filter(active_filter => active_filter.selected).map(active_filter => active_filter.name);

        for(let genre of watchlist.genres){
          if(selected_filters.includes(genre.name)){
            return true;
          }
        }
        return false;
      })
    },
    filteredRecentSeries() {
      const all_watchlist = this.$store.getters["watchlist/recent_series"];
      let payload = all_watchlist.filter(watchlist => {
        const selected_filters = this.active_filters.filter(active_filter => active_filter.selected).map(active_filter => active_filter.name);

        for(let genre of watchlist.genres){
          if(selected_filters.includes(genre.name)){
            return true;
          }
        }
        return false;
      });

      return payload;
    },
  },
  created() {
    this.loadAll();
    if(this.$store.getters.beginning){
      setTimeout(() => {
          this.$router.push({ path: '/notfound' });
      }, 1000);
      
    }
  },
  methods: {
    setFilters(updatedFilters){
      this.active_filters = updatedFilters;
    },
    async loadAll() {
      this.isLoading = true;
      try{
        await this.$store.dispatch('watchlist/loadAllMovies');
        await this.$store.dispatch('watchlist/loadAllSeries');
        await this.$store.dispatch('watchlist/loadPopularMovies');
        await this.$store.dispatch('watchlist/loadPopularSeries');
        await this.$store.dispatch('watchlist/loadRecentMovies');
        await this.$store.dispatch('watchlist/loadRecentSeries');
        await this.$store.dispatch('watchlist/loadAllGenres');
      } catch(error) {
        this.error = error.message || 'Something went wrong!';
      }
      
      this.isLoading = false;

      // setTimeout(() => {
      //   this.isLoading = false;
      // }, 500);
    } 
  }
};
</script>

<style scoped>
ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.controls {
  display: flex;
  justify-content: space-between;
}
</style>
