<template>
    <div v-if="isLoading">
        <base-spinner></base-spinner>
    </div>

    <div v-else>
        <!-- ------------------------------- BASIC MOVIE/SERIES INFO ------------------------------- -->
        <section class="bg-white py-24 sm:py-32">
            <div class="mx-auto max-w-7xl px-6 lg:px-8">
                <div class="mx-auto max-w-2xl lg:mx-0">
                    <h1 class="text-3xl font-bold tracking-tight text-gray-900 sm:text-4xl">{{ title }}</h1>
                </div>

                <div class="bg-white pb-16 pt-24 sm:pb-24 sm:pt-32 xl:pb-32">
                    <div class="bg-gray-900 pb-20 sm:pb-24 xl:pb-0">
                        <div class="mx-auto flex max-w-7xl flex-col items-center gap-x-8 gap-y-10 px-6 sm:gap-y-8 lg:px-8 xl:flex-row xl:items-stretch">
                            <div class="-mt-8 w-full max-w-2xl xl:-mb-8 xl:w-96 xl:flex-none">
                                <div class="relative aspect-[2/1] h-full md:-mx-8 xl:mx-0 xl:aspect-auto">
                                    <img class="absolute inset-0 h-full w-full bg-gray-800 object-cover shadow-2xl" :src="image" alt="movie-image" />
                                </div>
                            </div>
                            <div class="w-full max-w-2xl xl:max-w-none xl:flex-auto xl:px-16 xl:py-24">
                                <figure class="relative isolate pt-6 sm:pt-12">
                                    <svg viewBox="0 0 162 128" fill="none" aria-hidden="true" class="absolute left-0 top-0 -z-10 h-32 stroke-white/20">
                                    <use href="#b56e9dab-6ccb-4d32-ad02-6b4bb5d9bbeb" x="86" />
                                    </svg>
                                    <blockquote class="text-xl font-semibold leading-8 text-white sm:text-2xl sm:leading-9">
                                    <h4 class="mt-1 text-white" > 
                                        <span class="text-yellow-500 text-2.7xl"> &#9733; </span>{{ rating }}
                                        
                                    </h4> 
                                    <!-- <h4 class="mt-1 text-gray-400 movie-desc" >Description</h4> -->
                                    <p class="movie-desc">{{ description }}</p>
                                    </blockquote>
                                    <figcaption class="mt-8 text-base">
                                    <div class="font-semibold text-white inline">
                                        <span v-for="(genre, index) in genres" :key="index">
                                            <h4 class="mt-1 text-gray-400 inline" >{{ genre.name }}</h4>
                                            <span class="mt-1 text-gray-400" v-if="index !== genres.length - 1"> · </span>
                                        </span>
                                    </div>
                                    <div class="mt-1 text-white">{{year}}</div>
                                    </figcaption>
                                </figure>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        
        <!-- ------------------------------- CAST & CREW INFO ------------------------------- -->

        <section class="py-24 sm:py-32 shadow-2xl shadow-black	bg-gray-900 ">
            <div class="mx-auto max-w-7xl px-6 lg:px-8">
                <div class="mx-auto max-w-2xl lg:mx-0">
                    <h2 class="text-3xl font-bold tracking-tight text-white sm:text-4xl">Cast & Crew</h2>
                </div>
                <div class="mx-auto mt-10 grid max-w-2xl grid-cols-1 gap-x-8 gap-y-16 border-t border-gray-200 pt-10 sm:mt-16 sm:pt-16 lg:mx-0 lg:max-w-none lg:grid-cols-3">
                    <ul role="list" class="grid gap-x-8 gap-y-12 sm:grid-cols-2 sm:gap-y-16 xl:col-span-2">
                        <li>
                            <div class="flex items-center gap-x-6">
                                <img class="h-16 w-16 rounded-full" :src="director.image" alt="" />
                                <div>
                                    <router-link class="text-white hover:text-gray-500" v-if="director.id" :to="'/celebs/'+ director.id">{{ director.name }}</router-link>
                                    <p class="text-sm font-semibold leading-6 text-gray-300">{{ director.role }}</p>
                                </div>
                            </div>
                        </li>
                        <li v-for="(actor, index) in actors" :key="index">
                            <div class="flex items-center gap-x-6">
                                <img class="h-16 w-16 rounded-full" :src="actor.image" alt="" />
                                <div>
                                <!-- <h3 class="text-base font-semibold leading-7 tracking-tight text-gray-900"> -->
                                    <router-link class="text-white hover:text-gray-500" v-if="actor.id" :to="'/celebs/' + actor.id">{{ actor.name }}</router-link>
                                <!-- </h3> -->
                                    <p class="text-sm font-semibold leading-6 text-gray-400">{{ actor.role }}</p>
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </section>

        <!-- ------------------------------- EPISODES ------------------------------- -->
        
        <section v-if="episodes.length>0" class="bg-white py-24 sm:py-32">
            <div class="mx-auto max-w-7xl px-6 lg:px-8">
                <section class="bg-gray-900">  
                    <div class=" w-50 py-10">
                    <!-- <h2 class="px-4 text-base font-semibold leading-7 text-white sm:px-6 lg:px-8">Episodes</h2> -->
                    <!-- <div class="mx-auto max-w-2xl lg:mx-0">
                            <h2 class="text-3xl font-bold tracking-tight text-white sm:text-4xl">Episodes</h2>
                    </div> -->
                    <div class="w-50 py-10 mx-20 max-w-2xl lg:mx-0 text-right">
                        <h2 class="text-3xl font-bold tracking-tight text-white sm:text-4xl">Episodes</h2>
                    </div>
                    <div class=" border-t border-gray-200 mx-auto mt-10 text-center">

                        <table class="mt-10 mx-auto max-w-6xl whitespace-nowrap text-left">
                            <colgroup>
                            <col class="w-full sm:w-4/12">
                            <col class="lg:w-4/12">
                            <col class="lg:w-2/12">
                            <!-- <col class="lg:w-1/12">
                            <col class="lg:w-1/12"> -->
                            </colgroup>
                            <thead class="border-b border-white/10 text-sm leading-6 text-white">
                            <tr>
                                <th scope="col" class="py-2 pl-4 pr-8 font-semibold sm:pl-6 lg:pl-8">Title</th>
                                <th scope="col" class="hidden py-2 pl-0 pr-8 font-semibold sm:table-cell">Season</th>
                                <th scope="col" class="py-2 pl-0 pr-4 text-right font-semibold sm:pr-8 sm:text-left lg:pr-20">Number</th>
                            </tr>
                            </thead>
                            <tbody class="divide-y divide-white/5">
                                <tr v-for="episode in episodes" :key="episode.id" >
                                    <td class="py-4 pl-4 pr-8 sm:pl-6 lg:pl-8">
                                    <div class="flex items-center gap-x-4">
                                    <img class="h-8 w-8 rounded-full bg-gray-800" src="../../assets/EPISODE.png" alt="">
                                    <div class="truncate text-sm font-larger leading-6 text-white">{{ episode.episode_title }}</div>
                                    </div>
                                    </td>
                                    <td class="hidden py-4 pl-0 pr-4 sm:table-cell sm:pr-8">
                                    <div class="flex gap-x-3">
                                        <!-- <div class="font-mono text-sm leading-6 text-gray-400">2d89f0c8</div> -->
                                        <div class="rounded-md bg-gray-700/40 px-2 py-1 text-xs font-larger text-gray-400 ring-1 ring-inset ring-white/10">{{ episode.season}}</div>
                                    </div>
                                    </td>
                                    <td class="py-4 pl-0 pr-4 text-sm leading-6 sm:pr-8 lg:pr-20">
                                        <div class="flex items-center justify-end gap-x-2 sm:justify-start">
                                            <time class="text-gray-400 sm:hidden" datetime="2023-01-23T11:00">45 minutes ago</time>
                                            <div class="flex-none rounded-full p-1 text-green-400 bg-green-400/10">
                                            <div class="h-1.5 w-1.5 rounded-full bg-current"></div>
                                            </div>
                                            <div class="hidden font-larger text-white sm:block">{{ episode.episode_number}}</div>
                                        </div>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                        </div>
                    </div>
                </section>
            </div>
        </section>
        

        <!-- ------------------------------- COMMENTS ------------------------------- -->
        
        <section class="bg-white py-24 sm:py-32 shadow-2xl shadow-gray-900">
            <div class="mx-auto max-w-7xl px-6 lg:px-8">
                <div class="mx-auto max-w-2xl lg:mx-0">
                    <h2 class="text-3xl font-bold tracking-tight text-gray-900 sm:text-4xl">Comments</h2>
                    <p v-if="!isLoggedIn" class="mt-2 text-lg leading-8 text-gray-600">
                        <router-link class="text-gray-900 font-bold hover:text-gray-500" :to="'/signin/'">Sign in </router-link>to leave a comment.
                    </p>
                </div>
                <div class="mx-auto mt-10 grid max-w-2xl grid-cols-1 gap-x-8 gap-y-16 border-t border-gray-200 pt-10 sm:mt-16 sm:pt-16 lg:mx-0 lg:max-w-none lg:grid-cols-3">
                    <article v-for="comment in allComments" :key="comment" class="flex max-w-xl flex-col items-start justify-between">
                        <div class="flex items-center gap-x-4 text-xs">
                            <time :datetime="comment.created" class="text-gray-500">{{ comment.created }}</time>
                        </div>
                        <div class="group relative">
                            <h3 class="mt-3 text-lg font-bold leading-6 text-gray-900">
                                {{ comment.review_user.username}}
                            </h3>
                            <p class="mt-5 line-clamp-3 text-sm leading-6 text-gray-600">{{ comment.description }}</p>
                        </div>
                    </article>
                </div>
            </div>
        </section>


        <!-- ------------------------------- COMMENT FORM ------------------------------- -->

        <section v-if="isLoggedIn" class="py-24 sm:py-32 shadow-2xl shadow-black	bg-gray-900 ">
            <base-card class="bg-gray-900 border border-white p-4 my-8 mx-auto max-w-7xl">
                <comment-form></comment-form>

                <rating-form class="mt-4"></rating-form>
            </base-card>
        </section>       

    </div>
</template>

<script>
import axiosInstance from "@/api/httpClient";
import CommentForm from '../../components/reviews/CommentForm.vue';
import RatingForm from '../../components/reviews/RatingForm.vue';



export default {
    // props: ['id'],
    components: {
        CommentForm,
        RatingForm,
    },
    data() {
        return {
            selectedWatchlist : {
                "id": 39,
                "genres": [],
                "reviews": [],
                "comments": [],
                "persons": [],
                "title": "",
                "description": "",
                "image": "",
                "created": "",
                "episodes": [],
            },
            showAllComments: false,
            id: this.$route.params.id,
            isLoading: false,
        };
    },
    computed: {
        title() {
            return this.selectedWatchlist['title'];
        },
        image() {
            return this.selectedWatchlist.image;
        },
        genres() {
            return this.selectedWatchlist.genres;
        },
        year() {
            return this.selectedWatchlist.created.substring(0,4);
        },
        director(){
            let dirctr = this.selectedWatchlist.persons.filter(person => person.role == 'Director');
            if(dirctr.length === 0){
                return ['No directors for this movie were found'];
            }
            return dirctr[0];
        },
        actors(){
            let actrs = this.selectedWatchlist.persons.filter(person => person.role == 'Actor' || person.role == 'Actress');
            if(actrs.length === 0){
                return ['No actors for this movie were found'];
            }
            return actrs.map(actor => actor);
        },
        description(){
            return this.selectedWatchlist.description;
        },
        lastComments() {
            return this.selectedWatchlist.comments.slice(0,1);
        },
        allComments() {
            return this.selectedWatchlist.comments;
        },
        commentsButtonTitle() {
            return this.showAllComments? 'Show less' : 'Show all';
        },
        rating() {
            if(this.selectedWatchlist.reviews.length === 0){
                return 'No ratings for this movie were found';
            }
            let sum = 0.0;
            this.selectedWatchlist.reviews.forEach(review => {
                sum += review.rating;
            });
            let result = sum / this.selectedWatchlist.reviews.length;
            return Math.round(result * 100) / 100;
        },
        isLoggedIn() {
            return this.$store.getters.isAuthenticated;
        },
        episodes() {
            if(!this.selectedWatchlist.episodes){
                return [];
            } else {
                for(let episode of this.selectedWatchlist.episodes){
                    console.log(episode.episode_title);
                }
                return this.selectedWatchlist.episodes;
            }
        },
    },
    created() {
        this.loadSelectedWatchlist();

        // this.selectedWatchlist = this.$store.getters['watchlist/all_movies'].find((watchlist) => watchlist.id == this.id);
        // if(!this.selectedWatchlist){
        //     this.selectedWatchlist = this.$store.getters['watchlist/all_series'].find((watchlist) => watchlist.id == this.id);
        // }
    },
    methods: {
        toggleComments() {
            this.showAllComments = !this.showAllComments;
        },
        async loadSelectedWatchlist() {
            this.isLoading = true;
            // if (this.$route.params.type === 'movie') {
            //     const response = await axiosInstance.get('/watchlist/movies/' + this.$route.params.id + '/');
            //     console.log(response);
            //     this.selectedWatchlist = response.data;
            // } else if (this.$route.params.type === 'series') {
            //     const response = await axiosInstance.get('/watchlist/series/' + this.$route.params.id + '/');
            //     console.log(response);
            //     this.selectedWatchlist = response.data;
            // } else {
            //     // Handle invalid type
            // }
            let response;
            try{
                response = await axiosInstance.get('/watchlist/movies/' + this.id + '/');
            }
            catch{
                try{
                    response = await axiosInstance.get('/watchlist/series/' + this.id + '/');
                } catch {
                    this.$router.push('/404');
                    return;
                }
            }
            this.selectedWatchlist = response.data;
            this.isLoading = false;
            
        }
        // async loadSelectedWatchlist() {
        //     const response = await axiosInstance.get('/watchlist/movies/' + this.id + '/');
        //     console.log(response);
        //     this.selectedWatchlist = response.data;
        // }
        
        
    }
}
</script>


<style scoped>
/* h1 {
    font-size: 3rem;
    text-transform: capitalize;
} */

/* img {
    width: 100%;
    height: 100%;
    border-radius: 12px;
    border: 5px solid white;
} */

.movie-info-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
}

.movie-info-column {
    padding: 10px; 
    border: 1px solid #ccc; 
    border-radius: 12px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; 
    /* height: 100%; */
}

/* h3 {
    font-weight: normal;
} */

.movie-desc {
    font-weight: normal;
    font-size: 1.2rem;
}

h1 {
    font-size: 3.5rem;
}

</style>


