<template>
<section>
    <div v-if="showDialog">
        <div class="relative z-10" aria-labelledby="modal-title" role="dialog" aria-modal="true">
  <!--
    Background backdrop, show/hide based on modal state.

    Entering: "ease-out duration-300"
      From: "opacity-0"
      To: "opacity-100"
    Leaving: "ease-in duration-200"
      From: "opacity-100"
      To: "opacity-0"
  -->
  <div class="fixed inset-0 bg-gray-500 bg-opacity-75 transition-opacity"></div>

  <div class="fixed inset-0 z-10 w-screen overflow-y-auto">
    <div class="flex min-h-full items-end justify-center p-4 text-center sm:items-center sm:p-0">
      
      <div class="relative transform overflow-hidden rounded-lg bg-white text-left shadow-xl transition-all sm:my-8 sm:w-full sm:max-w-lg">
        <div class="bg-white px-4 pb-4 pt-5 sm:p-6 sm:pb-4">
          <div class="sm:flex sm:items-start">
            <!-- <div class="mx-auto flex h-12 w-12 flex-shrink-0 items-center justify-center rounded-full bg-red-100 sm:mx-0 sm:h-10 sm:w-10">
              <svg class="h-6 w-6 text-red-600" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" aria-hidden="true">
                <path stroke-linecap="round" stroke-linejoin="round" d="M12 9v3.75m-9.303 3.376c-.866 1.5.217 3.374 1.948 3.374h14.71c1.73 0 2.813-1.874 1.948-3.374L13.949 3.378c-.866-1.5-3.032-1.5-3.898 0L2.697 16.126zM12 15.75h.007v.008H12v-.008z" />
              </svg>
            </div> -->
            <div class="mt-3 text-center sm:ml-4 sm:mt-0 sm:text-left">
              <h3 class="text-base font-semibold leading-6 text-gray-900" id="modal-title">Added successfully</h3>
              <!-- <div class="mt-2">
                <p class="text-sm text-gray-500">Are you sure you want to deactivate your account? All of your data will be permanently removed. This action cannot be undone.</p>
              </div> -->
            </div>
          </div>
        </div>
        <div class="bg-gray-50 px-4 py-3 sm:flex sm:flex-row sm:px-6">
          <button @click="hideDialog" type="button" class="inline-flex w-full justify-center rounded-md bg-gray-900 px-3 py-2 text-sm font-semibold text-white shadow-sm hover:bg-gray-600 sm:ml-3 sm:w-auto">Go back to homepage</button>
          <!-- <button type="button" class="mt-3 inline-flex w-full justify-center rounded-md bg-white px-3 py-2 text-sm font-semibold text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 hover:bg-gray-50 sm:mt-0 sm:w-auto">Cancel</button> -->
        </div>
      </div>
    </div>
  </div>
</div>
    </div>

    <base-card>
      <!-- <h2>Create a movie or series</h2> -->
      <watchlist-form @save-data="saveData" :all_actors="allActors" :all_actresses="allActresses" :all_directors="allDirectors" :all_genres="allGenres"></watchlist-form>
    </base-card>
</section>
</template>

<script>
import WatchlistForm from '../../components/watchlist/WatchlistForm.vue';

export default {
    components: {
        WatchlistForm,
    },
    computed: {
        allGenres() {
          return this.$store.getters["watchlist/all_genres"];
        },
        allDirectors() {
          // return [{id: 1, name: 'Filip'},{id: 2, name: "Marko"}];
          return this.$store.getters["allDirectors"];
        },
        allActors() {
          // return [{id: 3, name: 'janko'},{id: 4, name: "petar"}];
          return this.$store.getters["allActors"][0];
        },
        allActresses() {
          return this.$store.getters["allActresses"][0];
        },
        successfullyAdded() {
          return this.$store.getters["watchlist/createdSuccessfully"];
        },
    },
    created() {
      this.$store.dispatch('fetchAllDirectors');
      this.$store.dispatch('fetchAllActors');
      this.$store.dispatch('fetchAllActresses');
    },
    data() {
      return {
        showDialog: false,
      };
    },
    methods: {
      saveData(data) {
        if(data.watchlist_type === 'movie'){
          this.$store.dispatch('watchlist/moviesCreate', data);
        } else {
          this.$store.dispatch('watchlist/seriesCreate', data);
        }
        this.showDialog = true;
      },
      hideDialog() {
        this.showDialog = false;
        this.$router.replace('/homepage');
      },
      setSuccessfullyAdded() {
        this.$store.dispatch('watchlist/isCreatedSuccessfully', {success: true});
      },
    }
}
</script>

