<template>
<div>
<!-- basedialog -->
<div v-if="isLoading">
    <base-spinner></base-spinner>
</div>
<base-card class="max-w-2xl mx-auto" v-else>
    <!-- <p v-if="loginSuccess">WELCOME</p> -->
    <form @submit.prevent="submitForm">
        
        <div class="border-y border-gray-900/10 pb-12 pt-12">
        <div v-if="mode==='signup'" class="form-control">
            <label for="email">Email</label>
            <input class="w-full rounded-md border-0 shadow-sm" type="text" id="email" v-model.trim="email" />
        </div>

        <div class="form-control">
            <label for="username">Username</label>
            <input class="w-full rounded-md border-0 shadow-sm" type="text" id="username" v-model.trim="username" />
        </div>

        <div class="form-control">
            <label for="password">Password</label>
            <input class="w-full rounded-md border-0 shadow-sm" type="password" id="password" v-model.trim="password" />
        </div>

        <p v-if="!formIsValid"> <b>Please enter a valid username and password.</b></p>

        <div class="w-full text-center">
        <base-button class="mt-8 bg-gray-900 text-white hover:bg-gray-600" >{{ submitButtonCaption }}</base-button>
        <base-button class="mt-8 mx-8 bg-gray-900 text-white hover:bg-gray-600" type='button' mode="flat" @click="swithAuthMode">{{ switchModeButtonCaption }}</base-button>
        </div>
        </div>

        </form>
</base-card>
</div>
</template>

<script>
export default {
    data(){
        return {
            email: '',
            username: '',
            password: '',
            formIsValid: true,
            mode: 'login',
            isLoading: false,
            error: null,
        };
    },
    computed: {
        submitButtonCaption() {
            if(this.mode === 'login'){
                return 'Login';
            } else {
                return 'Signup';
            }
        },
        switchModeButtonCaption() {
            if(this.mode === 'login'){
                return 'Signup instead';
            } else {
                return 'Login instead';
            }
        },
    },
    // created() {
    //     this.$store.dispatch('loginSuccessAction', {success: true});
        
    //     this.isLoading = true;
    //     if(this.$store.getters.beginning){
    //         this.$store.dispatch('beginningAction');
    //         setTimeout(() => {
    //             this.$router.push('/');
    //         }, 2000);
    //     } else {
    //         setTimeout(() => {
    //             this.isLoading = false;
    //         }, 500);
    //     }
        
    // },
    methods: {
        async submitForm() {
            this.formIsValid = true;
            if(this.username === ''){
                this.formIsValid = false;
                return;
            }

            this.isLoading = true;

            // console.log(this.$store.getters.loginSuccess);
            try{
                if(this.mode === 'login'){
                    await this.$store.dispatch('login', {
                        username: this.username,
                        password: this.password,
                    });
                } else {
                    await this.$store.dispatch('signup', {
                        username: this.username,
                        password: this.password,
                        email: this.email
                    });
                }
                this.$router.replace('/homepage');

                // if(this.$store.getters.loginSuccess){
                //     this.$router.replace('/homepage');
                // } else {
                //     console.log('failed login');
                // }
                
            } catch(err){
                this.error = err.message || 'Failed to authenticate, try later.';
            }
            this.isLoading = false;
        },
        swithAuthMode() {
            if(this.mode === 'login'){
                this.mode = 'signup';
            } else {
                this.mode = 'login';
            }
        },
        handleError(){
            this.error = null;
        }
    }
}
</script>

<style scoped>
form {
  margin-top: 15rem;
  padding: 1rem;
}

.form-control {
  margin: 0.5rem 0;
}

label {
  font-weight: bold;
  margin-bottom: 0.5rem;
  display: block;
}

input,
textarea {
  display: block;
  width: 100%;
  font: inherit;
  border: 1px solid #ccc;
  padding: 0.15rem;
}

input:focus,
textarea:focus {
  border-color: #3d008d;
  background-color: #faf6ff;
  outline: none;
}
</style>