<template>
  <base-spinner v-if="isLoading"></base-spinner>

<!-- ------------------------------- CELEB INFO ------------------------------- -->

  <section v-else class="bg-white py-24 sm:py-32">
      <div class="bio max-w-7xl mx-auto px-6 lg:px-8">
          <div class="mx-auto max-w-2xl lg:mx-0">
              <h1 class="text-5xl font-bold tracking-tight text-gray-900 sm:text-4xl">{{ fullName }}</h1>
          </div>

          <div class="bg-white pb-16 pt-24 sm:pb-24 sm:pt-32 xl:pb-32">
              <div class="bg-gray-900 pb-20 sm:pb-24 xl:pb-0">
                  <div class="mx-auto flex max-w-7xl flex-col items-center gap-x-8 gap-y-10 px-6 sm:gap-y-8 lg:px-8 xl:flex-row xl:items-stretch">
                      <div class="-mt-8 w-full max-w-2xl xl:-mb-8 xl:w-96 xl:flex-none">
                          <div class="relative aspect-[2/1] h-full md:-mx-8 xl:mx-0 xl:aspect-auto">
                              <img class="absolute inset-0 h-full w-full bg-gray-800 object-cover shadow-2xl" :src="celebImage" alt="movie-image" />
                          </div>
                      </div>
                      <div class="w-full max-w-2xl xl:max-w-none xl:flex-auto xl:px-16 xl:py-24">
                          <figure class="relative isolate pt-6 sm:pt-12">
                              <svg viewBox="0 0 162 128" fill="none" aria-hidden="true" class="absolute left-0 top-0 -z-10 h-32 stroke-white/20">
                              <use href="#b56e9dab-6ccb-4d32-ad02-6b4bb5d9bbeb" x="86" />
                              </svg>
                              <blockquote class="text-xl font-semibold leading-8 text-white sm:text-2xl sm:leading-9">
                              <h4 class="mt-1 text-white" > 
                              {{ role }}  
                              </h4> 
                              <!-- <h4 class="mt-1 text-gray-400 movie-desc" >Description</h4> -->
                              <p class="text-xl font-normal mt-8 text-justify">{{ bio }}</p>
                              </blockquote>
                              <figcaption class="mt-8 text-base">
                              <div class="font-semibold text-white inline">
                                  <span v-for="(award, index) in awards" :key="index">
                                      <h4 class="mt-1 text-gray-400 inline" >{{ award.name }}</h4>
                                      <span class="mt-1 text-gray-400" v-if="index !== awards.length - 1"> · </span>
                                  </span>
                              </div>
                              <div class="mt-1 text-white">{{birthDate}}</div>
                              <div class="mt-1 text-white">{{ birthCity }}, {{ birthCountry }}</div>
                              </figcaption>
                          </figure>
                      </div>
                  </div>
              </div>
          </div>
      </div>
  </section>

<!-- ------------------------------- MOVIES ------------------------------- -->

  <section class="py-24 sm:py-32 bg-gray-900 ">
      <div class="mx-auto max-w-7xl px-6 lg:px-8">
          <div class="mx-auto max-w-2xl lg:mx-0">
              <h2 class="text-3xl font-bold tracking-tight text-white sm:text-4xl">Movies</h2>
          </div>
          <!-- <div class="mx-auto mt-10 grid max-w-2xl grid-cols-1 gap-x-8 gap-y-16 border-t border-gray-200 pt-10 sm:mt-16 sm:pt-16 lg:mx-0 lg:max-w-none lg:grid-cols-3"> -->

          <div class="mx-auto mt-16 grid max-w-2xl grid-cols-1 border-t border-gray-200 gap-x-8 gap-y-20 lg:mx-0 lg:max-w-none lg:grid-cols-5 pt-10 sm:mt-16 sm:pt-16 ">
            <celeb-movie-item :movie="movie" v-for="movie in movies" :key="movie.id"></celeb-movie-item>
          </div>
      </div>
  </section>

<!-- ------------------------------- SERIES ------------------------------- -->

  <section class="py-24 sm:py-32 shadow-2xl shadow-black">
      <div class="mx-auto max-w-7xl px-6 lg:px-8">
          <div class="mx-auto max-w-2xl lg:mx-0">
              <h2 class="text-3xl font-bold tracking-tight text-gray-900 sm:text-4xl">Series</h2>
          </div>
          <div class="mx-auto mt-16 grid max-w-2xl grid-cols-1 border-t border-gray-200 gap-x-8 gap-y-20 lg:mx-0 lg:max-w-none lg:grid-cols-5 pt-10 sm:mt-16 sm:pt-16 ">
            <celeb-series-item :serie="serie" v-for="serie in series" :key="serie.id"></celeb-series-item>
          </div>
      </div>
  </section>


  <!-- </section>
  <h3 v-else>There aren't any celebs with that id.</h3>  -->
  <!-- not-found dodaj -->

</template>

<script>
import { mapGetters } from 'vuex';
import CelebMovieItem from "../../components/people/CelebMovieItem.vue";
import CelebSeriesItem from "../../components/people/CelebSeriesItem.vue";


export default {
  components: { CelebMovieItem, CelebSeriesItem},

  data() {
    return {
      isLoading: false,
      error: null
    }
  },
  props: {
    id: {
      type: String,
      required: true
    }
    // celebId
  },
  computed: {
    ...mapGetters([
      'celebDetails',
      'hasCelebDetails'
    ]),
    // map vuex getter celebDetails to the component computed property celebDetails, zato poslije mozemo da koristimo this.celebDetails 
    //  drugi nacin: da sami napravimo computed property:   celebDetails() {return this.$store.getters.celebDetails;}
   selectedCeleb() {
      return this.celebDetails;
    },
    fullName() {
      return this.selectedCeleb.name;
    },
    celebImage() {
      return this.selectedCeleb.image;
    },
    awards() {
      return this.selectedCeleb.awards;
    },
    role() {
      return this.selectedCeleb.role;
    },
    birthDate() {
      return this.selectedCeleb.birth_date;
    },
    birthCity() {
      return this.selectedCeleb.birth_city;
    },
    birthCountry() {
      return this.selectedCeleb.birth_country;
    },
    bio() {
      return this.selectedCeleb.bio;
    },
    movies() {
      return this.selectedCeleb.movies;
    },
    series() {
      return this.selectedCeleb.series;
    },
    // movieLink() {
    //   return `${this.$route.path}/${this.id}/movie-detail-koja-bude`;
    // }
  },
  methods: {
    // ...mapActions(['fetchCelebDetails'])
    // map action fetchCelebDetails to method fetchCelebDetails so we could use it to watch the id
    // al onda bi morali isLoading logic da stavimo u store
    async loadCelebs(newId) {
        this.isLoading = true;
      try {
        await this.$store.dispatch('fetchCelebDetails', newId);
      } catch (error) {
        this.error = 'An error occurred while fetching celebs.';
      } 
      this.isLoading = false;
      
    },
  },
  watch: {
    id(newId) {
      this.loadCelebs(newId);
    }
    // watch for the id change, call fetchCelebDetails method with the new Id when it changes 
  },
  created() {
    this.loadCelebs(this.id);
  }
};
</script>

<style scoped>
h1 {
  font-size: 3rem;
}
</style>