<template>

<div v-if="isLoading">
    <base-spinner></base-spinner>
</div>
  <div v-else>
  
  <main class="grid min-h-full place-items-center bg-white px-6 py-24 sm:py-32 lg:px-8">
    <div class="text-center">
      <p class="text-base font-semibold text-gray-600">404</p>
      <h1 class="mt-4 text-3xl font-bold tracking-tight text-gray-900 sm:text-5xl">Page not found</h1>
      <p class="mt-6 text-base leading-7 text-gray-600">Sorry, we couldn’t find the page you’re looking for.</p>
      <div class="mt-10 flex items-center justify-center gap-x-6">
        <base-button ><router-link :to="'/homepage/'">Go back home </router-link></base-button>
        <!-- <a href="#" class="text-sm font-semibold text-gray-900">Contact support <span aria-hidden="true">&rarr;</span></a> -->
      </div>
    </div>
  </main>
  </div>
</template>

<script>
export default {
  data() {
    return {
      isLoading: true,
    };
  },
  created() {
        this.$store.dispatch('loginSuccessAction', {success: true});
        
        this.isLoading = true;
        if(this.$store.getters.beginning){
            this.$store.dispatch('beginningAction');
            setTimeout(() => {
                this.$router.push('/');
            }, 1500);
        } else {
            setTimeout(() => {
                this.isLoading = false;
            }, 500);
        }
        
    },
}
</script>


