<template>
  <!-- <form @submit.prevent="submitComment"> -->
    <!-- <div class="form-control">
      <label for="description">Your Comment</label>
      <textarea rows="5" id="description" v-model.trim="description"></textarea>
    </div>
    <p class="errors" v-if="!formIsValid">Please enter a comment.</p>
    <h4 v-else-if="formIsValid && formIsSubmitted">Comment successfully submitted.</h4> -->
    <!-- <p v-if="errorMessage" class="error-message">{{ errorMessage }}</p> -->
    <!-- <div class="actions">
      <base-button>Submit Comment</base-button>
    </div> -->
    <label for="comment" class="block text-sm font-medium leading-6 text-white">Your Comment</label>
    <div class="mt-2">
      <textarea rows="4" name="comment" id="comment" v-model.trim="description" class="block w-full rounded-md border-0 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-300 focus:ring-2 focus:ring-inset focus:ring-gray-600 sm:text-sm sm:leading-6" />
    </div>
    <p class="errors" v-if="!formIsValid">Please enter a comment.</p>
    <comment-submitted class="mt-4" v-else-if="formIsValid && formIsSubmitted"></comment-submitted>
    <div class="actions mt-4">
      <base-button class="rounded-md bg-white/10 px-3.5 py-2.5 text-sm font-semibold text-white shadow-sm hover:bg-white/20" @click="submitComment">Submit Comment</base-button>
    </div>
  <!-- </form> -->
</template>


<script>
import axiosInstance from "@/api/httpClient";
import CommentSubmitted from '../ui/CommentSubmitted.vue'; 

export default {
  components: {
        CommentSubmitted,
  },
  data() {
    return {
      description: '',
      // errorMessage: '',
      formIsValid: true,
      token: this.$store.getters.token,
      watchlistId: this.$route.params.id,
      username: this.$store.getters.username,
      formIsSubmitted: false,
    };
  },
  methods: {
    async submitComment() {
      
      if (!this.description) {
        this.formIsValid = false;
        return;
      }

    // if (this.formIsSubmitted) {
    //   this.formIsValid = false;
    //   this.errorMessage = "You cannot leave more than one comment.";
    //   return;
    // }
      this.formIsValid = true;
      try {
        const userId = await this.getUserIdByUsername(this.username);

        if (userId !== null) {
          
          const payload = {
            watchlist: this.watchlistId,
            description: this.description,
            review_user: userId
          };
          
          const token = this.token;
          const headers = {
            headers: {
              "Authorization": "Token " + token
            }
          };
          
          await axiosInstance.post(`/personnel/${this.watchlistId}/comments/`, payload, headers);
          console.log('Comment posted successfully');
        } else {
          console.log(`User "${this.username}" not found`);
        }
      } catch (error) {
        console.error('Error posting comment:', error);
      }
      this.formIsSubmitted = true;
    },
    
    async getUserIdByUsername(username) {
      try {
        const response = await axiosInstance.get(`/personnel/user/`);
        const user = response.data.find(user => user.username === username);
        
        if (user) {
          return user.id;
        } else {
          return null;
        }
      } catch (error) {
        console.error('Error fetching users:', error);
        throw error;
      }
    },
  }
};

</script>


<style scoped>
form {
  margin: 1rem;
  border: 1px solid #ccc;
  border-radius: 12px;
  padding: 1rem;
}

.form-control {
  margin: 0.5rem 0;
}

label {
  font-weight: bold;
  margin-bottom: 0.5rem;
  display: block;
}

input,
textarea {
  display: block;
  width: 100%;
  font: inherit;
  border: 1px solid #ccc;
  padding: 0.15rem;
}

input:focus,
textarea:focus {
  border-color: #3d008d;
  background-color: #faf6ff;
  outline: none;
}

.errors {
  font-weight: bold;
  color: red;
}

.actions {
  text-align: center;
}
</style>



