
<template>
  <form class="rating-container" @submit.prevent="submitRating">
    <div class="rating-text">Your rating: {{ rating }}/10</div>
    <div class="stars" id="stars">
      <span v-for="star in 10" :key="star"
            class="star"
            :class="{ selected: star <= Math.ceil(rating) }"
            @click="setRating(star)">
        &#9733; <!--  star html code-->
      </span>
    </div>
  
    <div><base-button class="rounded-md bg-white/10 px-3.5 py-2.5 text-sm font-semibold text-white shadow-sm hover:bg-white/20 ml-4">Submit Rating</base-button></div>
    <p class="errors" v-if="!formIsValid">Please choose a rating from 1 to 10.</p>
    <comment-submitted class="ml-4" v-else-if="formIsValid && formIsSubmitted"></comment-submitted>
  </form>
</template>


<script>

import axiosInstance from "@/api/httpClient";
import CommentSubmitted from '../ui/CommentSubmitted.vue'; 

export default {
  components: {
        CommentSubmitted,
  },
  data() {
    return {
      rating: 0,
      formIsValid: true,
      token: this.$store.getters.token,
      watchlistId: this.$route.params.id,
      formIsSubmitted: false,
    };
  },
  methods: {
    setRating(star) {
      this.rating = star;
    },
    async submitRating() {
        if (this.rating === 0) {
        this.formIsValid = false;
        return;
      }
      this.formIsValid = true;
      try {
          const payload = {
            watchlist: this.watchlistId,
            rating: this.rating,
          };
          
          const token = this.token;
          const headers = {
            headers: {
              "Authorization": "Token " + token
            }
          };
          
          await axiosInstance.post(`/personnel/${this.watchlistId}/reviews/`, payload, headers);
          console.log('Rating posted successfully');

      } catch (error) {
        console.error('Error posting rating:', error);
      }
      this.formIsSubmitted = true;
    },
  }
};
</script>

<style scoped>
.rating-container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.rating-text {
  margin-right: 0.5rem;
  font-weight: bold;
  color: white;
}

.stars .star {
  color: grey;
  font-size: 35px;
  cursor: pointer;
}

.stars .selected {
  color: #ffcf36;
}


.errors {
  font-weight: bold;
  color: red;
}

</style>

