<template>
  <!-- <header>
        <nav>
            <h1><router-link to="/homepage">HOMEPAGE</router-link></h1>
            <h2>{{user}}</h2>
            <search-bar></search-bar>

            <ul>
              
                <li v-if="isLoggedIn"><router-link to="/favorites">Favorites</router-link></li>
                <li v-if="isAdmin"><router-link to="/watchlist-create">Add Movie/Series</router-link></li>
                <li v-if="!isLoggedIn"><router-link to="/signin">SIGN IN</router-link></li>
                <li v-else>
                  <base-button @click="logout">Logout</base-button>
                </li>
            </ul>
        </nav>
    </header> -->
  <header class="bg-gray-900">
    <nav
      class="mx-auto flex max-w-7xl items-center justify-between p-6 lg:px-8"
      aria-label="Global"
    >
      <div class="flex lg:flex-1">
        <a href="#" class="-m-1.5 p-1.5">
          <span class="sr-only">Your Company</span>
          <img
            class="h-10 w-auto"
            src="../../assets/logo.png"
            alt=""
          />
        </a>
      </div>
      <div class="flex lg:hidden">
        <button
          type="button"
          class="-m-2.5 inline-flex items-center justify-center rounded-md p-2.5 text-gray-400"
        >
          <span class="sr-only">Open main menu</span>
          <svg
            class="h-6 w-6"
            fill="none"
            viewBox="0 0 24 24"
            stroke-width="1.5"
            stroke="currentColor"
            aria-hidden="true"
          >
            <path
              stroke-linecap="round"
              stroke-linejoin="round"
              d="M3.75 6.75h16.5M3.75 12h16.5m-16.5 5.25h16.5"
            />
          </svg>
        </button>
      </div>
      <div class="hidden lg:flex lg:gap-x-12 items-center">
        <a href="#" class="-mx-3 block rounded-lg px-3 py-2 text-sm font-semibold leading-7 text-white hover:bg-gray-600"
          ><router-link to="/homepage">IMDB</router-link></a
        >
       
        <search-bar></search-bar>
      </div>
      <div class="hidden lg:flex lg:gap-x-12 ml-10">
         <a  v-if="isAdmin" href="#" class="-mx-3 block rounded-lg px-3 py-2 text-sm font-semibold leading-7 text-white hover:bg-gray-600"
          ><router-link to="/watchlist-create">Add Movie/Series</router-link></a
        
        >
      </div>
      
      <div class="hidden lg:flex lg:flex-1 lg:justify-end">
        <a
          v-if="!isLoggedIn"
          href="#"
          class="-mx-3 block rounded-lg px-3 py-2 text-sm font-semibold leading-7 text-white hover:bg-gray-600"
        >
          <router-link to="/signin">Log in</router-link></a
        >
        <a
          v-if="isLoggedIn"
          href="#"
          class="-mx-3 block rounded-lg px-3 py-2 text-sm font-semibold leading-7 text-white hover:bg-gray-600"
          @click="logout"
        >
          <router-link to="/signin">Log out</router-link></a
        >
      </div>
    </nav>
    <!-- Mobile menu, show/hide based on menu open state. -->
    <div class="lg:hidden" role="dialog" aria-modal="true">
      <!-- Background backdrop, show/hide based on slide-over state. -->
      <div class="fixed inset-0 z-10"></div>
      <div
        class="fixed inset-y-0 right-0 z-10 w-full overflow-y-auto bg-gray-900 px-6 py-6 sm:max-w-sm sm:ring-1 sm:ring-white/10"
      >
        <div class="flex items-center justify-between">
          <a href="#" class="-m-1.5 p-1.5">
            <span class="sr-only">Your Company</span>
            <img
              class="h-8 w-auto"
              src="https://tailwindui.com/img/logos/mark.svg?color=indigo&shade=500"
              alt=""
            />
          </a>
          <button type="button" class="-m-2.5 rounded-md p-2.5 text-gray-400">
            <span class="sr-only">Close menu</span>
            <svg
              class="h-6 w-6"
              fill="none"
              viewBox="0 0 24 24"
              stroke-width="1.5"
              stroke="currentColor"
              aria-hidden="true"
            >
              <path
                stroke-linecap="round"
                stroke-linejoin="round"
                d="M6 18L18 6M6 6l12 12"
              />
            </svg>
          </button>
        </div>
        <div class="mt-6 flow-root">
          <div class="-my-6 divide-y divide-gray-500/25">
            <div class="space-y-2 py-6">
              <a
                href="#"
                class="-mx-3 block rounded-lg px-3 py-2 text-base font-semibold leading-7 text-white hover:bg-gray-800"
                >Product</a
              >
              <a
                href="#"
                class="-mx-3 block rounded-lg px-3 py-2 text-base font-semibold leading-7 text-white hover:bg-gray-800"
                >Features</a
              >
              <a
                href="#"
                class="-mx-3 block rounded-lg px-3 py-2 text-base font-semibold leading-7 text-white hover:bg-gray-800"
                >Marketplace</a
              >
              <a
                href="#"
                class="-mx-3 block rounded-lg px-3 py-2 text-base font-semibold leading-7 text-white hover:bg-gray-600"
                >Company</a
              >
            </div>
            <div class="py-6">
              <a
                href="#"
                class="-mx-3 block rounded-lg px-3 py-2.5 text-base font-semibold leading-7 text-white hover:bg-gray-600"
                >Log in</a
              >
            </div>
          </div>
        </div>
      </div>
    </div>
  </header>
</template>

<script>
import SearchBar from "../../components/watchlist/SearchBar.vue";

export default {
  components: { SearchBar },
  computed: {
    isLoggedIn() {
      return this.$store.getters.isAuthenticated;
    },
    isAdmin() {
      return this.$store.getters.username == "filipj" || this.$store.getters.username == "anjas";
    },
    user() {
      return this.$store.getters.username;
    },
  },
  methods: {
    logout() {
      this.$store.dispatch("logout");
      this.$router.replace("/homepage");
    },
  },
};
</script>
